# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual envs ---
.venv/
venv/
env/

# --- IDE / Editors ---
.idea/
.vscode/
*.iml

# --- OS files ---
.DS_Store
Thumbs.db
__MACOSX/

# --- Logs & temp ---
*.log
*.tmp

# --- Node build output ---
dist/
node_modules/

# --- Data (optionnel : décommente si tu ne veux pas tout versionner) ---
# data/*.html
# data/*.csv
# data/*.tmp
